{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        io.netty/netty-all {:mvn/version "4.1.16.Final"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}
                               com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
